$small-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 2.4rem;
$xlarge-size: 3.2rem;
$xxlarge-size: 4.8rem;


//Color
$darkerblue: #20222b;
$darkblue: #333745;
$purple: #8357c5;
$white: #efefef;
$offwhite: #a5afd7;
$blue: #3c4251;
$lightBlue: #464b5e